<div *ngIf="selectedTabLink === 'hot'; else other">
  <app-image-slider [sliders]="imgSliderList"></app-image-slider>
  <app-horizontal-grid [channels]="channels">
    <div *ngFor="let item of channels" appGridItem>
      <img [src]="item.icon" alt="" appGridItemImage="2rem" fitModule="none">
      <span appGridItemTitle=".8rem">{{item.title}}</span>
    </div>
  </app-horizontal-grid>
</div>

<ng-template #other>
  <span>other works</span>
</ng-template>
<div><a [routerLink]="['grand']" routerLinkActive="active">link to grand</a></div>
<router-outlet></router-outlet>
